@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 2rem 0;
    width: 100%;
    min-height: 100vh;
    font-family: Barlow Semi Condensed, sans-serif;
    background: radial-gradient(ellipse at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

.rules {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5rem;
    border: 2px solid $header-outline;
    background: transparent;
    color: $header-outline;
    font-family: inherit;
    border-radius: .5rem;
    height: 2rem;
    z-index: 100;
}

.rules_desktop {
    display: none;
}

.rules_container {
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;


    p {
        color: $dark-text;
        font-weight: 700;
        font-size: 1.75rem;
        padding-bottom: 5rem;
    }
    
    &.show {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .rules {
        display: none;
    }

    .rules_container {
        border-radius: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 30rem;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            display: none;
        }
    }

    .rules_desktop {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 3rem;
        bottom: 3rem;
        border: 2px solid $header-outline;
        background: transparent;
        padding: 1.25rem 1.5rem;
        font-size: 1.25rem;
        display: grid;
        place-content: center;
        color: $header-outline;
        font-family: inherit;
        border-radius: .5rem;
        height: 2rem;
        z-index: 100;

        &:hover {
            border: 2px solid  #fff;
            color: #fff;
            transition: .2s;
        }
    }
}

@import "./buttons";
@import "./scoreboard";
@import "./buttons_container";
@import "./absolute_winner";