@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 2rem 0;
  width: 100%;
  min-height: 100vh;
  font-family: Barlow Semi Condensed, sans-serif;
  background: radial-gradient(ellipse at top, #1f3756, #141539);
}

img {
  max-width: 100%;
  height: auto;
}

.rules {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -5rem;
  border: 2px solid #606e85;
  background: transparent;
  color: #606e85;
  font-family: inherit;
  border-radius: .5rem;
  height: 2rem;
  z-index: 100;
}

.rules_container {
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rules_container p {
  color: #3b4363;
  font-weight: 700;
  font-size: 1.75rem;
  padding-bottom: 5rem;
}

.rules_container.show {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rules {
    display: none;
  }
}

button {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.border_rock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

.border_rock #rock {
  border: none;
  background-image: url("../images/icon-rock.svg");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.border_rock #rock .rock {
  visibility: hidden;
}

.border_paper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.border_paper #paper {
  border: none;
  background-image: url("../images/icon-paper.svg");
  background-repeat: no-repeat;
  background-size: 52.5%;
  background-position: 47.5%;
}

.border_paper #paper .paper {
  visibility: hidden;
}

.border_scissors {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.border_scissors #scissors {
  border: none;
  background-image: url("../images/icon-scissors.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.border_scissors #scissors .scissors {
  visibility: hidden;
}

.border_lizard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#834fe3), to(#8c5de5));
  background: linear-gradient(#834fe3, #8c5de5);
}

.border_lizard #lizard {
  border: none;
  background-image: url("../images/icon-lizard.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.border_lizard #lizard .lizard {
  visibility: hidden;
}

.border_spock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#40b9ce), to(#52bed1));
  background: linear-gradient(#40b9ce, #52bed1);
}

.border_spock #spock {
  border: none;
  background-image: url("../images/icon-spock.svg");
  background-repeat: no-repeat;
  background-position: 57.5%;
  background-size: 55%;
}

.border_spock #spock .spock {
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  button {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.scoreboard {
  border: 2px solid #606e85;
  border-radius: 1rem;
  width: 280px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scoreboard .logo {
  width: 5rem;
}

.scoreboard .player_points, .scoreboard .computer_points {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: .75rem;
  padding: .5rem;
}

.scoreboard .player_points span, .scoreboard .computer_points span {
  color: #2a46c0;
}

.scoreboard .player_points span.score, .scoreboard .computer_points span.score {
  color: #606e85;
  font-size: 2rem;
}

.announcer {
  font-size: 1.25rem;
  color: #fff;
  padding: 1rem 1.5rem;
  height: 4.75rem;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .scoreboard {
    width: 600px;
  }
  .scoreboard .logo {
    width: 10rem;
    height: 6rem;
  }
  .scoreboard .player_points, .scoreboard .computer_points {
    font-size: 1.2rem;
  }
  .announcer {
    font-size: 1.5rem;
    height: 3.75rem;
  }
}

.buttons_container {
  width: 280px;
  margin: auto;
  height: 285px;
  position: relative;
}

.buttons_container .pentagon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 225px;
  z-index: -1;
}

.buttons_container .border_rock {
  position: absolute;
  z-index: 1;
  right: 2rem;
  bottom: 0;
}

.buttons_container .border_paper {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 4rem;
}

.buttons_container .border_scissors {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.buttons_container .border_lizard {
  position: absolute;
  z-index: 1;
  left: 2rem;
  bottom: 0;
}

.buttons_container .border_spock {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 4rem;
}

@media screen and (min-width: 1024px) {
  .center_container {
    position: absolute;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .buttons_container {
    width: 360px;
    height: 360px;
  }
  .buttons_container .pentagon {
    width: 300px;
  }
  .buttons_container .border_rock {
    right: 2.5rem;
  }
  .buttons_container .border_lizard {
    left: 2.5rem;
  }
  .buttons_container .border_paper {
    right: -.25rem;
    top: 5rem;
  }
  .buttons_container .border_spock {
    left: -.25rem;
    top: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */