@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 1rem 0;
  width: 100%;
  min-height: 100vh;
  font-family: Barlow Semi Condensed, sans-serif;
  background: radial-gradient(ellipse at top, #1f3756, #141539);
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.border_rock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

.border_rock #rock {
  border: none;
  background-image: url("../images/icon-rock.svg");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}

.border_rock #rock .rock {
  visibility: hidden;
}

.border_paper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

.border_paper #paper {
  border: none;
  background-image: url("../images/icon-paper.svg");
  background-repeat: no-repeat;
  background-size: 52.5%;
  background-position: 47.5%;
}

.border_paper #paper .paper {
  visibility: hidden;
}

.border_scissors {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

.border_scissors #scissors {
  border: none;
  background-image: url("../images/icon-scissors.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.border_scissors #scissors .scissors {
  visibility: hidden;
}

.border_lizard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#834fe3), to(#8c5de5));
  background: linear-gradient(#834fe3, #8c5de5);
}

.border_lizard #lizard {
  border: none;
  background-image: url("../images/icon-lizard.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}

.border_lizard #lizard .lizard {
  visibility: hidden;
}

.border_spock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: .75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#40b9ce), to(#52bed1));
  background: linear-gradient(#40b9ce, #52bed1);
}

.border_spock #spock {
  border: none;
  background-image: url("../images/icon-spock.svg");
  background-repeat: no-repeat;
  background-position: 57.5%;
  background-size: 55%;
}

.border_spock #spock .spock {
  visibility: hidden;
}

.scoreboard {
  border: 2px solid #606e85;
  border-radius: 1rem;
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  padding: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.scoreboard h1 {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
}

.scoreboard .player_points, .scoreboard .computer_points {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: .75rem;
  padding: .5rem;
}

.scoreboard .player_points span, .scoreboard .computer_points span {
  color: #2a46c0;
}

.scoreboard .player_points span.score, .scoreboard .computer_points span.score {
  color: #606e85;
  font-size: 2rem;
}

.announcer {
  font-size: 1.5rem;
  color: #fff;
  padding: 1rem 0;
  margin: auto;
  text-align: center;
}

.buttons_container {
  width: 280px;
  margin: auto;
  height: 285px;
  position: relative;
}

.buttons_container .pentagon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 225px;
  z-index: -1;
}

.buttons_container .border_rock {
  position: absolute;
  z-index: 1;
  right: 2rem;
  bottom: 0;
}

.buttons_container .border_paper {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 4rem;
}

.buttons_container .border_scissors {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.buttons_container .border_lizard {
  position: absolute;
  z-index: 1;
  left: 2rem;
  bottom: 0;
}

.buttons_container .border_spock {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 4rem;
}
/*# sourceMappingURL=style.css.map */