@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 2rem 0;
  width: 100%;
  min-height: 100vh;
  font-family: Barlow Semi Condensed, sans-serif;
  background: radial-gradient(ellipse at top, hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.rules {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -5rem;
  border: 2px solid hsl(217deg, 16%, 45%);
  background: transparent;
  color: hsl(217deg, 16%, 45%);
  font-family: inherit;
  border-radius: 0.5rem;
  height: 2rem;
  z-index: 100;
}

.rules_desktop {
  display: none;
}

.rules_container {
  display: block;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rules_container p {
  color: hsl(229deg, 25%, 31%);
  font-weight: 700;
  font-size: 1.75rem;
  padding-bottom: 5rem;
}
.rules_container.show {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rules {
    display: none;
  }
  .rules_container {
    border-radius: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 30rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .rules_container p {
    display: none;
  }
  .rules_desktop {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    border: 2px solid hsl(217deg, 16%, 45%);
    background: transparent;
    padding: 1.25rem 1.5rem;
    font-size: 1.25rem;
    display: grid;
    place-content: center;
    color: hsl(217deg, 16%, 45%);
    font-family: inherit;
    border-radius: 0.5rem;
    height: 2rem;
    z-index: 100;
  }
  .rules_desktop:hover {
    border: 2px solid #fff;
    color: #fff;
    transition: 0.2s;
  }
}
button {
  cursor: pointer;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
button:hover {
  transform: scale(1.35);
  transition: 0.2s;
}

.border_rock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0.75rem;
  background: linear-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
}
.border_rock #rock {
  border: none;
  background-image: url("../images/icon-rock.svg");
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: center;
}
.border_rock #rock .rock {
  visibility: hidden;
}

.border_paper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0.75rem;
  background: linear-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
}
.border_paper #paper {
  border: none;
  background-image: url("../images/icon-paper.svg");
  background-repeat: no-repeat;
  background-size: 52.5%;
  background-position: 47.5%;
}
.border_paper #paper .paper {
  visibility: hidden;
}

.border_scissors {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0.75rem;
  background: linear-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
}
.border_scissors #scissors {
  border: none;
  background-image: url("../images/icon-scissors.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.border_scissors #scissors .scissors {
  visibility: hidden;
}

.border_lizard {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0.75rem;
  background: linear-gradient(hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
}
.border_lizard #lizard {
  border: none;
  background-image: url("../images/icon-lizard.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.border_lizard #lizard .lizard {
  visibility: hidden;
}

.border_spock {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
  padding: 0.75rem;
  background: linear-gradient(hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
}
.border_spock #spock {
  border: none;
  background-image: url("../images/icon-spock.svg");
  background-repeat: no-repeat;
  background-position: 57.5%;
  background-size: 55%;
}
.border_spock #spock .spock {
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  button {
    width: 4.5rem;
    height: 4.5rem;
  }
}
.scoreboard {
  border: 2px solid hsl(217deg, 16%, 45%);
  border-radius: 1rem;
  width: 280px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}
.scoreboard .logo {
  width: 5rem;
}
.scoreboard .player_points, .scoreboard .computer_points {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  width: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.75rem;
  padding: 0.5rem;
}
.scoreboard .player_points span, .scoreboard .computer_points span {
  color: hsl(229deg, 64%, 46%);
}
.scoreboard .player_points span.score, .scoreboard .computer_points span.score {
  color: hsl(217deg, 16%, 45%);
  font-size: 2rem;
}

.announcer {
  font-size: 1.25rem;
  color: #fff;
  padding: 1rem 1.5rem;
  height: 4.75rem;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .scoreboard {
    width: 600px;
  }
  .scoreboard .logo {
    width: 10rem;
    height: 6rem;
  }
  .scoreboard .player_points, .scoreboard .computer_points {
    font-size: 1.2rem;
  }
  .announcer {
    font-size: 1.5rem;
    height: 3.75rem;
  }
}
.buttons_container {
  width: 280px;
  margin: auto;
  height: 285px;
  position: relative;
}
.buttons_container .pentagon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 225px;
  z-index: -1;
}
.buttons_container .border_rock {
  position: absolute;
  z-index: 1;
  right: 2rem;
  bottom: 0;
}
.buttons_container .border_paper {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 4rem;
}
.buttons_container .border_scissors {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.buttons_container .border_lizard {
  position: absolute;
  z-index: 1;
  left: 2rem;
  bottom: 0;
}
.buttons_container .border_spock {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 4rem;
}

@media screen and (min-width: 1024px) {
  .center_container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .buttons_container {
    width: 360px;
    height: 360px;
  }
  .buttons_container .pentagon {
    width: 300px;
  }
  .buttons_container .border_rock {
    right: 2.5rem;
  }
  .buttons_container .border_lizard {
    left: 2.5rem;
  }
  .buttons_container .border_paper {
    right: -0.25rem;
    top: 5rem;
  }
  .buttons_container .border_spock {
    left: -0.25rem;
    top: 5rem;
  }
}
.absolute_winner {
  position: absolute;
  width: 100%;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  z-index: 101;
  font-size: 2rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  padding: 1rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.absolute_winner p {
  color: #fff;
}
.absolute_winner .restart {
  border-radius: 0.5rem;
  border: 2px solid hsl(217deg, 16%, 45%);
  background: transparent;
  font-family: inherit;
  color: hsl(217deg, 16%, 45%);
  height: 2.5rem;
  width: 4rem;
}
.absolute_winner .restart:hover {
  border: 2px solid #fff;
  color: #fff;
  transform: scale(1);
}/*# sourceMappingURL=style.css.map */